body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  align-items: center;
}

.loginbttn {
  width: 60px;
  margin: 10px;
}

.createloginbttn {
  width: 100px;
  margin: 10px;
}

.loginbttns{
  flex-direction: row;
  align-items: center;
  row-gap: 10px;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcomebtn {
  width: 70px;
  height: 40px;
}

.navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  
}

.nav-title{
  margin-left: 10px;
  text-decoration: underline;
  font-weight:1000;
}

.main-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:auto;
  grid-gap: 10px;
  margin-left: 250px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.exercise-image {
  width: 100%;
  height: 50%;
}

.exercise-sets{
  text-align: center;
}

.exercise-title {
  text-align: center;
}

.buttons-nav {
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 30px;
}

.buttons-main {
  margin-top: 10px;
  text-align: center;
}


.buttons {
  border-radius: 10px;
  background-color: white; 
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 1.5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons:hover {
  background-color: black;
  color: white
}
.create-exercise {
  margin-left: 300px;
}

.completed-exercise {
  margin-left: 300px;
  margin-top: 50px;
}

.completed-title{
  margin-left: 300px;
}

.create-label {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.create-input {
  display: flex;
  flex-direction: column;
  margin-top: 5px
}

.create-submit-bttn{
  border-radius: 10px;
  background-color: white; 
  border: 2px solid black;
  color: black;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 1.5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.create-submit-bttn:hover {
  background-color: black;
  color: white
}

.fitness-form{
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  margin-left: 5px;
}

li {
  margin-top: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  padding: 7px 14px;
  transition-duration: 0.4s;
}

li:hover {
  color: white;
  background-color: grey;
  text-decoration: underline;
}

.logoutbtnfitness {
  position: absolute;
  bottom: 5%;
}
